:root {
    --board-color: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000, #161616, #161616, #000)
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #000;
    border-left: grey 0.3rem solid;
}

::-webkit-scrollbar-thumb {
    background: #d3cdcd;
    border-radius: 5rem;
}

/* SCROLLBAR */

header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;

}

header a {
    text-decoration: none;
}

header a h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #0ff100,
        0 0 1rem rgb(14, 221, 66),
        0 0 2rem rgb(36, 255, 91),
        0 0 4rem rgb(45, 127, 38),
        0 0 8rem rgb(45, 127, 38),
        0 0 9rem rgb(38, 127, 38),
        0 0 10rem rgb(38, 127, 42),
        0 0 14rem rgb(48, 127, 38),
        0 0 18rem rgb(53, 127, 38);
    font-size: 3.5rem;
}

.container {
    width: 100%;
    min-height: 80%;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.board {
    position: relative;
    width: 30rem;
    height: 24rem;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.board__position {
    animation-duration: 1s;
    animation-name: board;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    font-size: 0rem;
}

.board__position1 {
    border-bottom: solid 0.2rem var(--board-color);
    border-right: solid 0.2rem var(--board-color);
}

.board__position2 {
    border-bottom: solid 0.2rem var(--board-color);
    border-right: solid 0.2rem var(--board-color);
    border-left: solid 0.2rem var(--board-color);
}

.board__position3 {
    border-bottom: solid 0.2rem var(--board-color);
    border-left: solid 0.2rem var(--board-color);
}

.board__position4 {
    border-bottom: solid 0.2rem var(--board-color);
    border-right: solid 0.2rem var(--board-color);
    border-top: solid 0.2rem var(--board-color);
}

.board__position5 {
    border: solid 0.2rem var(--board-color);
}

.board__position6 {
    border-bottom: solid 0.2rem var(--board-color);
    border-left: solid 0.2rem var(--board-color);
    border-top: solid 0.2rem var(--board-color);
}

.board__position7 {
    border-top: solid 0.2rem var(--board-color);
    border-right: solid 0.2rem var(--board-color);
}

.board__position8 {
    border-left: solid 0.2rem var(--board-color);
    border-right: solid 0.2rem var(--board-color);
    border-top: solid 0.2rem var(--board-color);
}

.board__position9 {
    border-top: solid 0.2rem var(--board-color);
    border-left: solid 0.2rem var(--board-color);
}

#difficulty {
    background-color: grey;
    color: #000;
    border-radius: 0.5rem;
}

.restart {
    color: #fff;
    background-color: #0053a7;
    padding: 0.2rem 0.7rem;
    margin-top: 5rem;
}

.x {
    color: #ff7600;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.o {
    animation-duration: 0.5s;
    animation-name: move;
    color: aqua;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.winner {
    animation-duration: 2s;
    animation-name: who;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    font-size: 7rem;
    color: whitesmoke;
}

.h-line {
    animation-duration: 1s;
    animation-name: horizontal-line;
    position: absolute;
    border-top: solid 0.5rem white;
    width: 30rem;
}

.v-line {
    animation-duration: 1s;
    animation-name: vertical-line;
    position: absolute;
    transform: rotate(90deg);
    border-top: solid 0.5rem white;
    width: 30rem;
}

.d-line1 {
    animation-duration: 1s;
    animation-name: diagonal-line1;
    position: absolute;
    transform: rotate(45deg);
    border-top: solid 0.5rem white;
    width: 30rem;
}

.d-line2 {
    animation-duration: 1s;
    animation-name: diagonal-line2;
    position: absolute;
    transform: rotate(135deg);
    border-top: solid 0.5rem white;
    width: 30rem;
}

@keyframes who {
    from {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        text-align: center;
        font-size: 0rem;
        color: whitesmoke;
    }

    to {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        text-align: center;
        font-size: 7rem;
        color: whitesmoke;
    }
}

@keyframes move {
    from {
        color: transparent;
    }

    90% {
        color: transparent;
    }

    to {
        color: aqua;
    }
}

@keyframes board {
    from {
        border-color: transparent;
    }

    50% {
        border-color: #0053a7;
    }

    to {
        border-color: red;
    }
}

@keyframes horizontal-line {
    from {
        position: absolute;
        border-top: solid 0.5rem white;
        width: 0rem;
    }

    to {
        position: absolute;
        border-top: solid 0.5rem white;
        width: 30rem;
    }
}

@keyframes vertical-line {
    from {
        position: absolute;
        transform: rotate(90deg);
        border-top: solid 0.5rem white;
        width: 0rem;
    }

    to {
        position: absolute;
        transform: rotate(90deg);
        border-top: solid 0.5rem white;
        width: 30rem;
    }
}

@keyframes diagonal-line1 {
    from {
        position: absolute;
        transform: rotate(45deg);
        border-top: solid 0.5rem white;
        width: 0rem;
    }

    to {
        position: absolute;
        transform: rotate(45deg);
        border-top: solid 0.5rem white;
        width: 30rem;
    }
}

@keyframes diagonal-line2 {
    from {
        position: absolute;
        transform: rotate(135deg);
        border-top: solid 0.5rem white;
        width: 0rem;
    }

    to {
        position: absolute;
        transform: rotate(135deg);
        border-top: solid 0.5rem white;
        width: 30rem;
    }
}

@media screen and (min-width: 600px) {
    header a h1 {
        font-size: 4rem;
    }

    .board {
        height: 30rem;
    }

    .board__position {
        width: 10rem;
        height: 10rem;
    }
}